@layer reset, base, tokens, recipes, utilities;

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
